@media all and ( max-width: 720px) {
    .naviguateur1{
        flex: 1 1 100%;
    }
    .naviguateur2{
        flex: 1 1 100%;
    }
    .title_webSite{
        flex: 1 1 100%;
    }
    .footer{
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .feedback{
        width: 100%;
        /* margin: 0 50px 0 50px; */

    }
    .sect2
    .sect3{
        width: 100%;
        margin: 0 0 0 50px;
    }
    .sect23{
        flex-direction: row;
        
    }
}
@media all and (max-width: 800px){

    
}