*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    
}
section{
    height: 100%;
    width: 100%;
    background-color:#E4F2EA ;
    position: relative;
}

/* for every login element */
/* ****************** */
.Login{
    position: absolute;
    width: 390px;
    height: 100%;
    left: calc(1200px - 1090px);
    padding: 50px 50px 80px 50px !important;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Login a{
    margin-left: auto;
}
/* *********************** */



/*  this section belong to the section where we have two buttons one for login or sign up */
/* *********************** */
.cover{
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100%;
    width: calc(100% - 640px );
    right: 0;
    top: 0;
    padding-top: 150px;
    padding-bottom: auto;
    border-radius: 25px;
}
.cover a{
    position: absolute;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: black;
    width: 130px;
    height: 70px;
    border-radius: 0 50px 50px 0 ;
    border: none;
}
.cover #login{
    background-color: #E4F2EA;
    font-weight: 900;
    font-size: bolder;
    z-index: 11;
}
.cover #signUp{
    position: absolute;
    top: 220px;
    font-weight: 900;
    font-size: bolder;
    padding-left: 15px;
    z-index: 11;
}

/* *********************** */


/* creating the logo */
/* .logo{
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 13%;
    left: 19% !important;
}
.logo .book{
    height: 58px;
    width: 18px;
    border-radius: 2px;
    box-shadow: 0 8px  10px rgba(0, 0, 0, 0.3);
}
.b1{
    background-color: #8E414E;
    transform: rotate(30deg);
    margin-right: 13px;
}
.b2{
    background-color: #27374D;
}
.b3{
    background-color: #274D3A;
}
.b4{
    background-color: #323E7E;
}
.b5{
    background-color: #4D778E;
} */

/* cover sectionnn */
/* *********************** */
.top-cover{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 151px;
    background-color: #2D5652;
    border-radius: 25px;
}
.bottom-cover{
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 520px;
    background-color: #2D5652;
    border-radius: 25px;
}
.mid-cover{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 90%;
    height: 430px;
    background-color: #2D5652;
}

.cover a.active{
    background-color: #E4F2EA;
}

/* *********************** */

/* sign up form  */
/* *************** */
.SignUp{
    position: absolute;
    left: calc(1200px - 1110px);
    width: 450px;
    height: 100%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.SignUp .box{
    display: flex;
    gap: 10px;
}

.SignUp input{
    margin-top: 4px;
}
.hidden{
    display: none;
}
/* *************** */

/* styles for both sign up and login form  */
/* ************************************ */

/* this section so the user can add his personnels informations email and password  */
.user-infos{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-bottom: 5px;
    width: 100%;

}
.user-infos input{
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}
.user-infos input::placeholder{
    color: #000;
}
label{
    font-size: 14px;
}

/* okey this section is for the button ansd for thr sign up if you don't have an account element to be changed later : cs i wanna add login with facebook or google account   */
.submit-infos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}
/*  button */

.submit-infos p{
    margin: 0;
    padding: 0;
}
.submit-infos p a{
    font-weight: 900;
    font-size: bolder;
    font-size: 17px;
}
button{
    border: none;
    height: 30px;
    width: 100%;
    border-radius: 30px;
    background-image: linear-gradient(to right,#b4c0b9,#2D5652,#b4c0b9);
    transition:color 0.5s ease-out;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
input:focus {
    border: none;
}

button:hover{
    color: white;
}
/* ************************************ */
h1{
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
    font-size: 27px;
}

@media (max-width:450px){
    section{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        border-radius: 0;
        
    }
    .Login{
        width: 100%;
        border-radius: 0;
        top: 0 ;
        left: 0;
        padding:80px 50px !important;
    }
    .SignUp{
        width: 100%;
        border-radius: 0;
        top: 0 ;
        left: 0;
        padding:80px 40px !important;
    }

    
    .cover{
        display: none;
    }
}